# Backend URL
# Pour tester en local sur votre navigateur (Web) :
# EXPO_PUBLIC_BACKEND_URL=http://localhost:8000
#
# Pour tester sur votre smartphone avec Expo Go :
# Indiquez l'adresse IP locale de votre ordinateur sur le réseau Wi-Fi (ex: 192.168.1.50)
EXPO_PUBLIC_BACKEND_URL=http://192.168.1.50:8000

# (Optionnel) Clés Google Maps natives pour iOS / Android
# Si vides, l'application utilise automatiquement OpenStreetMap / Leaflet / CARTO
EXPO_PUBLIC_GOOGLE_MAPS_ANDROID_KEY=
EXPO_PUBLIC_GOOGLE_MAPS_IOS_KEY=
