# MongoDB connection string
MONGO_URL=mongodb://localhost:27017

# Database name
DB_NAME=doggo_db

# (Optional) Google Maps Javascript API Key for Web/Embedded view
GOOGLE_MAPS_BROWSER_KEY=

# (Optional) Custom OSRM Routing URL (defaults to https://routing.openstreetmap.de)
# OSRM_ROUTING_BASE_URL=https://routing.openstreetmap.de
